# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
/node_modules

# Build artifacts
/dist
/build
/out
.vitepress/dist
.vuepress/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Local files
*.local

# VSCode files
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# OSX
.DS_Store

# Thumbnails
.Thumbs.db
ehthumbs.db

# Windows
Thumbs.db
